.wrap {
  display: flex;
  flex-flow: column;
  gap: 24px;
  height: 100%;
}
.wrap section {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  gap: 12px;
  padding: 24px;
  min-height: 240px;
  background-color: #111;
}
.wrap h2 {
  display: block;
  padding-top: 16px;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}
.wrap strong,
.wrap b {
  font-size: 24px;
}
.wrap p {
  font-size: 16px;
  font-weight: 500;
  color: #9ca3af;
}
.wrap p + p {
  margin-top: 12px;
}
section.head {
  flex-flow: row;
  gap: 4%;
}
.head .overview {
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 12px;
}
.head .iframe_wrap {
  flex: 1;
  position: relative;
  width: 100%;
  height: auto;
}
.head .iframe_wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.9) 100%
  );
}
.head .iframe_wrap iframe {
  width: 100%;
  height: 100%;
  border: 0 none;
}
.head strong {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.cont ul {
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.cont li a {
  display: flex;
  flex-flow: column;
  gap: 4px;
  padding: 12px;
}
.cont li b {
  color: #2277ff;
}
.cont li:hover {
  background-color: #222;
}
