.home {
  display: flex;
  flex-flow: column;
  gap: 24px;
}
.home section {
  display: flex;
  flex-flow: column;
  gap: 8px;
  padding: 16px;
}
.home section blockquote {
  display: flex;
  flex-flow: column;
  gap: 8px;
  background: #000;
  font-size: 15px;
  padding: 8px 16px;
  border-left: 2px solid var(--blue_deep);
}
.home section blockquote > * {
  color: var(--mono_1);
}
section.row {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  height: auto;
  background: radial-gradient(circle, rgba(17, 17, 17, 0.1) 10%, rgba(17, 17, 17, 0.9) 90%);
}
section.row .cont_main {
  flex: 1.5;
  display: flex;
  flex-flow: column;
  gap: 8px;
}
section.row .cont_sub {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}
