* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.grid {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  height: 500px;
}
.grid .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
}
.grid .toy_monkey {
  transition: all 1s ease;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: gold;
  opacity: 0.1;
  top: 0;
  left: 0;
}
.grid .toy_snake {
  transition: all 1s ease;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: red;
  opacity: 0.1;
  top: 0;
  left: 0;
}
